
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
    font-family: 'Poppins', sans-serif;
}

.card {
    margin: 132px auto;
    height: 400px;
    width: 320px;
    background: #27240d;
    border-radius: 12px;
    padding: 20px;
    color: white;
    position: relative;
}

.card-heart {
    font-size: 24px;
    position: absolute;
    left: 20px;
    top: 15px;
}

.card-gio-hang {
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 15px;
}

.card-image {
    /* width: 90%; */
    padding: 0 20px;
    height: 180px;
    /* transition: 2s; */
}

.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: rotate(-30deg);
    /* transform: rotateX(180deg); */
    transition: 0.5s;
}

.title , .price  {
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
    text-align: center;
    transition: 0.5s;
}

.title {
    color: #FF3366;
}

.size , .color{
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.size span {
    color: black;
    background: #dadada;
    margin: 0 2px;
    padding: 0px 4px;
    border-radius: 4px;
}

.color {
    display: flex;
    margin-top: 4px;
    align-items: center;
    transition: 0.5s;
}

.color .green, .color .red , .color .black {
    height: 16px;
    width: 16px;
    border-radius: 16px;
    margin: 0 4px;
}

.green {
    background: green;
}

.red {
    background: red;
}

.black {
    background: black;
}

.action {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    transition: 0.5s;
}

.action button {
    padding: 8px 16px;
    margin: 0 8px;
    background: #4daf54;
    border: none;
    color:white;
    outline: none;
    border-radius: 8px;
    font-weight: bold;
}

.card:hover img {
    transform:translateY(-86px) rotate(5deg);
}

.card:hover .title, .card:hover .price {
    text-align: left;
    transform:translateY(-86px);
}

.size {
    margin-top: 100px;
}

.size, .color, .action {
    opacity: 0;
    visibility: hidden;
}

.card:hover .size, .card:hover .color, .card:hover .action {
    opacity: 100;
    visibility: visible;
    transform:translateY(-150px);
}


